<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">

</head>

<body>

    <div class="container">
        <h1>Weather Forecast</h1>

        <form>
            <h2> Please provide city</h2>
            <input type="text" placeholder="What the weather are you looking for?">
            <button>serach</button>
        </form>

        <div class="weather-container">

        </div>
    </div>
    <script src="js/script.js"></script>
</body>

</html>